<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lite.android.xiangwushuo.com.sr">

    <application
        android:name=".app.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="lite.android.xiangwushuo.com.sr.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="lite.android.xiangwushuo.com.sr.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="lite.android.xiangwushuo.com.sr.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lite.android.xiangwushuo.com.sr.lite.android.xiangwushuo.com.sr.ItemListActivity" />
        </activity>

        <activity android:name="lite.android.xiangwushuo.com.sr.TestMergeActivity"/>
        <activity android:name="lite.android.xiangwushuo.com.sr.mvvp.MDataBindActivity"/>


        <service android:name="lite.android.xiangwushuo.com.sr.JavaHookActivity$ActionService"/>

        <receiver android:name="lite.android.xiangwushuo.com.sr.JavaHookActivity$ActionReceiver"/>
    </application>

</manifest>